h1 {
    margin: 0;
    font-size: 1.3rem;
    font-weight: 700;
}

.greetings-container {
    background-color: #50c682;
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: 700;
    height: 120px;
    margin-bottom: 10px;
    /* width: min(400px, 100%); */
    width: 480px;
    /* display: flex;
    flex-direction: column; */
    text-align: center;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}
.weather-data {
    list-style: none;
    font-weight: 500;
    display: flex;
}
.weather-data li {
    /* text-align: center; */

    padding-left: 4px;
    padding-right: 4px;
}
.weather-data li:not(:last-child) {
    border-right: 1px solid #3ba367;
}
