.course-card-container {
    padding: 8px 16px;
    position: relative;
    background-color: #dfdfdf;
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 190px;
    overflow-y: auto;
    overflow-x: auto;
}

.course-card-container h2 {
    margin: 0;
}
.course-stats-section {
    width: 35%;
    margin-left: 8px;
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
}

.stat-p {
    margin: 0;
    font-weight: 600;
    /* line-height: normal; */
}
.stat-p:first-of-type {
    margin: 0;
    margin-top: 3px;
}
.hr-course-card {
    border-top: 1px solid #001529;
    width: 450px;
    margin: 0;
    margin-top: 4px;
}
.course-card-button {
    position: absolute;
    right: 15px;
    bottom: 15px;
}
