.ant-switch {
    background-color: red;
    background-image: none;
}
.ant-switch-checked {
    background-color: green;
}
.dif {
    padding: 16px 30px;
}

/* .ant-switch:focus {
    right: 10px;
}
.ant-switch-handle::before {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    left: -10px;
    top: -1px;
} */
.ant-switch-handle::before {
    /* height: 30px;
    width: 30px; 
    border-radius: 50%;*/
    /* right: 10px;
    top: -1px; */
}
/* .ant-switch-checked .ant-switch-inner {
    margin-top: -10px;
}

.ant-switch-inner {
    margin-top: -10px;
} */
