.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.page-name {
    background-color: #dfdfdf;
    padding: 8px 16px;
    border-radius: 4px;
    font-weight: 500;
    /* visibility: hidden; */
}
.ant-layout-header {
    line-height: normal;
    padding-left: 8px;
}
.nabdiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
