@import "~antd/dist/antd.css";

.logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.2);
}

.site-layout-sub-header-background {
    background: #fff;
}

.site-layout-background {
    background: #fff;
}
[data-theme="dark"] .site-layout-sub-header-background {
    background: #141414;
}

.mr-bot-8 {
    margin-bottom: 8px;
}

.viewquizteacher-mcq .ant-checkbox-wrapper + .ant-checkbox-wrapper {
    margin-left: 0;
}
.correct-mcq {
    background-color: green;
}
.incorrect-mcq {
    background-color: red;
}
.shortq-div-mark {
    display: flex;
    flex-direction: row;
}
.shortq-ans-question {
    width: calc(100% - 90px);
}
.shortq-ans-marks {
    width: 90px;
}
