* {
    box-sizing: border-box;
    margin: 0;
}
body {
    background-color: #17597a7a;
}
.ff {
    /* font-size: 2rem; */
    width: min(100vw, 900px);
    background-color: rgb(193, 223, 207);
}
/* .ff input::placeholder {
    font-size: 16px;
}
input[type="text"],
input[type="email"],
input[type="number"] {
    font-size: 16px;
} */
.row1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
